body {
    background-image: url("../img/caras.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;

    margin: 0;
    padding: 0;
}

#buttonmainpage {

    height: 30vh;
    width: 30vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.5em solid black;
    color: black;
    border-radius: 10% 10% 10% 10%;

    background-image: url("../img/logo.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
} 

.mainrow {
    height: 100vh;
}

.space {
    height: 30vh;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttongame {
    height: 30vh;
    width: 30vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.5em solid black;
    color:black;
    border-radius: 10% 10% 10% 10%;

    background-image: url("../img/gamestart.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}