body {
    
    height: 100vh;
    width: 100vw;

    padding: 0;
    margin: 0;

    background-image: url("../img/alien.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;

}

.turnos {
    color:black;

    border: 0.2em solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: cornflowerblue;
}

.contador {
    height: 10vh;
    width: 25vw;
}